<div class="container-fluid nav1">
  <nav class="navbar navbar-expand-lg ">
    <div class="container">
      <a  [routerLink]="['/home']">
        <h2> <span>C</span>inema</h2>
      </a>
      <!-- <a class="nav-link"[routerLink]="['/home']">Home</a> -->
      <a class="nav-link"  [routerLink]="['/loginregister']" *ngIf="!isAuthenticated">Login</a>
      <a class="nav-link" style="cursor: pointer;" (click)='logout()' *ngIf="isAuthenticated" >Logout</a>
      <a class="nav-link"[routerLink]="['/adminlogin']">Admin </a>
    </div>
  </nav>
</div>
