.nav1{
  background-image: -webkit-linear-gradient(0deg,#8d1f28 0%,#000 100%);
  padding: 15px;
  /* position: fixed; */
}
.nav-link{
  color: #fff;
  font-size: 22px;
  position: relative;
}
.nav-link::after{
  content: '';
  width: 0%;
  height: 5px;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 30px;
  transition: .7s;
}
.nav-link:hover::after{
  width: 100%;
}
.nav1 h2{
  font-size: 40px;
}

.nav1 h2 span{
  color: #000;
}
a{
  text-decoration: none;
  color: #fff;
}
